* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* background-image: url(img/images.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    width: 500px;
    height: 400px;
    margin: 20px auto;
    background-color: rgba(177, 246, 245, 0.868);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.container {
    background-color: rgba(168, 167, 167, 0);
    width: 400px;
    height: 250px;
    margin: 20px auto;
    color: rgb(23, 20, 20);
}

.sectionOne {
    margin: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 20px;
}

.input {
    width: 370px;
    height: 30px;
    border-radius: 10px;
    color: black;
    font-size: 20px;
    background-color: rgba(233, 150, 122, 0.507);
    border: 2px solid rgb(11, 11, 11);
    
}

.searchBtn {
    width: 100px;
    border-radius: 10px;
    font-size: 22px;
}

.searchBtn:hover {
    background-color: darksalmon;
    color: white;
}

.weatherPlcTwo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.weatherPlc {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    gap: 20px;
    flex-wrap: wrap;
}

.temp {
    font-size: 28px;
}

#iconPlc {
    font-size: 54px;
}

#desc {
    font-size: 18px;
}

#para {
    color: red;
    font-size: 24px;
    text-align: center;
}

#paraTwo {
    text-align: center;
    color: rgb(19, 19, 19);
    margin-bottom: 10px;
}

#wind {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#windIcon {
    width: 50px;
    height: 50px;
}
  